<form [formGroup]="recipeForm">
  <mat-card-header class="header-id">
    <mat-card-title>Aggiungi Nuova Ricetta</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <input
        matInput
        type="text"
        id="title"
        formControlName="title"
        placeholder="Titolo"
      />
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        id="description"
        formControlName="description"
        placeholder="Descrizione"
      ></textarea>
    </mat-form-field>

    <ng-container formArrayName="ingredients">
      <ng-container *ngFor="let _ of getIngredients().controls; index as i">
        <mat-form-field>
          <input
            matInput
            type="text"
            id="ingredients"
            [formControlName]="i"
            placeholder="Ingrediente"
          />
          <button
            mat-button
            matSuffix
            *ngIf="getIngredients().length > 1"
            (click)="removeIngredient(i)"
          >
            Rimuovi
          </button>
        </mat-form-field>
      </ng-container>
    </ng-container>
    <button mat-stroked-button color="primary" (click)="addIngredient()">
      Aggiungi Ingredienti
    </button>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="recipeForm.invalid"
      (click)="submitRecipe()"
    >
      Aggiungi Ricetta
    </button>
  </mat-card-actions>
</form>
